.main_experience{

    margin-top: 150px;
    /* border: 2px solid wheat; */
    height: 1000px;
}

.experience{
    color: #d84e2c;
    font-size: 6.2rem;
    font-family: monospace;
    margin-left: 340px;
    display: block;
}

.project{
    color: #d84e2c;
    font-size: 6.2rem;
    font-family: monospace;
    margin-left: 450px;
    margin-top: -40px;
    display: block;
}
.p{
    color: wheat;
}

.experience_p{
    /* border: 2px solid white; */
    width: 900px;
    margin-top: 50px;
    margin-left: 200px;
    /* text-align: center; */
}

.project_head{
    color: wheat;
    font-family: monospace;
    font-size: 3rem;
    display: block;
    margin-top: 60px;
    margin-left: 60px;
}

.project_container{
    width: 1200px;
    height: 420px;
    /* border: 2px solid wheat; */
    margin-top: 70px;
    margin-left: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}